<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26382989508-89vi4dp9qqm1nod3t00uruph5rq0kh2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26382989508-89vi4dp9qqm1nod3t00uruph5rq0kh2l</string>
	<key>API_KEY</key>
	<string>AIzaSyBb-n68229MT8lWpaCsGfe4SmsDs26Nr6s</string>
	<key>GCM_SENDER_ID</key>
	<string>26382989508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VladVorniceanu.PadelManager</string>
	<key>PROJECT_ID</key>
	<string>padelmanager-web</string>
	<key>STORAGE_BUCKET</key>
	<string>padelmanager-web.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26382989508:ios:877e574062f1fcba2bf191</string>
</dict>
</plist>